{% extends 'header.html' %}

{% block content %}

        <!-- Masthead-->
        <header class="masthead h-auto">
            <div class="container h-100">
                <div class="row h-100 align-items-left justify-content-left text-left">
                    <div class="col-lg-10 align-self-end">
                        <h4 class="text-white font-weight-bold" style="padding-top: 2rem; padding-bottom: 1.5rem;">Transforming historical bank records into data sets for research and teaching.</h4>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-normal mb-5">The New York Public Library holds thousandsof pages of Brown Brother & Company's business records. These materials include journals, ledgers, records of sale, and other documents dated between 1825 and 1880, among them financial documents from the bank’s New Orleans and Havana offices.</p>
                    </div>
                </div>
            </div>
        </header>

    <section class="page-section bg-tertiary h-auto">
        <div class="container h-100">
                <div class="row justify-content-left;">
                    <h4 class="text-black mt-0" style="padding-top: 2rem; padding-bottom: 1rem;">The Textile Roots of Wall Street</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Now housed in the iconic skyscraper at 140 Broadway, just blocks from the New York Stock Exchange in Manhattan’s Financial District, Brown Brothers Harriman is one of the oldest and largest private banking and wealth management institutions in the United States.<br/><br/>
                                    The result of a 1931 merger, Brown Brothers Harriman was founded in Philadelphia in 1818 as Brown Brothers by George and John Brown. In 1825, their brother James opened an affiliate company on Pine Street in New York City; eight years later, James established the headquarters of the now-consolidated Brown Brothers & Company on Wall Street.<br/><br/>
                                    And, in many ways, the story of Brown Brothers & Company is the story of Wall Street and of the rise of the financial industry in New York City.<br/><br/>
                                    Sons of an Irish immigrant who settled in Baltimore in 1800, the Brown brothers helped build a thriving textile operation. They began as importers of linen and soon moved on to cotton, purchasing vessels and establishing branches in Liverpool and the American South, including New Orleans. After its inception, Brown Brothers & Co. became a major lender and asset manager to the textile, commodities, and transportation industries in the U.S. and abroad.</p>
                            </div>
                            <div class="col-md-6">
                                <figure class="figure">
                                    <img src="{{url_for('static', filename='assets/img/brown-bros-59-wallstreet.jpg')}}" alt="An black and white image of 59 Wall Street, the location of Brown Brothers & Company, showing an elevated view with the entire building visible."/>
                                    <figcaption style="color: #212529;" class="figure-caption">Brown Brothers & Co. Building, 59 Wall Street, Undated (ca. 1876-1914). <a href="https://digitalcollections.nyhistory.org/islandora/object/islandora%3A64486" style="color: #212529; text-decoration: underline;">George P. Hall & Son Photograph Collection, New-York Historical Society</a>.</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-black mt-0" style="padding-top: 2rem; padding-bottom: 1rem;">Digitizing the Collection</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="figure">
                                    <img src="{{url_for('static', filename='assets/img/ledger-example.jpg')}}"  style="width:100%;" alt="An image of a single ledger page from the New Orleans accounts. The date listed is 1844 and the entries are arranged in neat accounting columsn."/>
                                    <figcaption style="color: #212529;" class="figure-caption">A digitized ledger page from the 1844 New Orleans accounts. Manuscripts and Archives Division, The New York Public Library. <a href="https://digitalcollections.nypl.org/items/0f0036b0-dc97-0136-582b-009dbae7568a" style="color: #212529; text-decoration: underline;">"New Orleans Office," The New York Public Library Digital Collections, 1844 - 1846</a>.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <p>Because of its historical importance, size, and the condition of its contents, the Brown Brothers Collection was a great candidate for digitization. With the help of a Council on Library and Information Resources (CLIR) “Hidden Collections” grant — which funds the digitization of rare and unique materials underrepresented in digital collections — the entire collection was photographed and processed for addition to the New York Public Library Digital Collections.<br/><br/>
                                    The <a href="http://archives.nypl.org/mss/410#overview" style="color: #212529; text-decoration: underline;">New York Public Library's finding aid</a> for the collection supplies a number of key details about the history of the company and biographical information about its founders. It also links item-level description to the individual ledgers that are accessible on the <a href="https://digitalcollections.nypl.org/collections/brown-brothers-company-records#/?tab=navigation" style="color: #212529; text-decoration: underline;">New York Public Library's Digital Collections home for the Brown Brothers collection</a>.<br/><br/>
                                    Read about the process of digitizing this CLIR-grant supported collection on this June 2019 <a href="https://www.nypl.org/blog/2019/06/12/introduction-mass-digitization-brown-brothers-collection" style="color: #212529; text-decoration: underline;">New York Public Library blog post</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-black mt-0" style="padding-top: 2rem; padding-bottom: 1rem;">From Photo to Data: NewYorkScapes and the Brown Brothers Collection Project</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <br/>
                                <p>Even though the Brown Brothers Collection has been digitized, our knowledge of what it contains is still limited. The tens of thousands of available images aren’t searchable, or even fully documented. Because the materials are written in handwriting from the 19th century, it’s nearly impossible to convert them to digital text automatically using existing tools.<br/><br/>
                                    In order to investigate the Brown Brothers Collection’s potential, NewYorkScapes embarked on a pilot project, generously funded by the NYU Center for the Humanities and NYU Research Technology.<br/><br/>
                                    The project has three central goals:
                                    <ul>
                                        <li>To conduct further historical research on the Brown Brothers Collection, including the important figures and events represented in the collection, the research that’s been done using these materials, and the collection’s place in the history of New York City banking.</li>
                                        <li>To produce teaching materials and public programs focused on the information history of American capitalism, the plantation economy, and financial data.</li>
                                        <li>To develop a data set and machine-readable transcriptions of the Brown Brothers Collection records, and to develop potential uses of the data by scholars, teachers, and the general public as an open-access resource.</li>
                                    </ul>
                                    We’ve assembled a team of data scientists and humanities researchers to design models, explore methods of text and column detection, and ultimately extract machine-readable text from the digitized images programmatically. With a machine-readable data set, we can make parts of the collection searchable, as well as analyze the data in various ways to learn more about the stories represented in the collection.<br/><br/>
                                    To learn more, view our recent <a href="https://vimeo.com/534710037" style="color: #212529; text-decoration: underline;">NYPL Doc Chat #21 on the collection<a/>.</p>
                            </div>
                            <div class="col-md-6">
                                <figure class="figure">
                                    <br/>
                                    <img src="{{url_for('static', filename='assets/img/doc-chat-example.png')}}"  style="width:100%;" alt="An online advertisement from the New York Public Library for a doc chat event related to the transcriber project."/>
                                    <figcaption style="color: #212529;" class="figure-caption">At a recent <a href="https://www.nypl.org/blog/2021/04/13/doc-chat-episode-twenty-one-slavery-and-capitalism-archives" style="color: #212529; text-decoration: underline;">March 25, 2021, NYPL Doc Chat</a>, team member Tom Augst spoke about the current project and plans for the data extraction.</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-black mt-0" style="padding-top: 2rem; padding-bottom: 1rem;">Getting Started with Transcription</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <a>As we experiment with ways to turn the digital photographs in NYPL Digital Collections into machine-readable text (like text documents or spreadsheets), we have to “teach” our models to read the 19th century handwriting in the documents.<br/><br/>
                                    To do that, we’re creating “training” data sets for our algorithms. To ensure that our training data is accurate and as complete as possible, we’re transcribing a subset of a ledger from the collection by hand.<br/><br/>
                                    Manual document transcription can be time-consuming and requires careful attention to detail. For that reason, we welcome guest transcription and other forms of collaboration on this project. <a href="{{ url_for('transcribe_segment') }}" style="color: #212529; text-decoration: underline;">Start transcribing</a> or sign up for information on the <a href="https://newyorkscapes.org/brownbrothers/" style="color: #212529; text-decoration: underline;">NewYorkScapes Brown Brother project page</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </section>


{% include "footer.html" %}
{% endblock content %}
