{% extends "header.html" %}

{% block content %}


     <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">

                        {% for mesg in get_flashed_messages() %}
                        <div class="alert-messages"><p>{{ mesg }}</p></div>
                        {% endfor %}

                        <h2 class="text-white mt-0" style="padding-top: 2rem; padding-bottom: 1rem;">Forgot password?</h2>
                        <hr class="divider my-4" style="padding-bottom: 1.5rem;" />
                        {% from "_formhelpers.html" import render_field %}
                        <form method="POST" action="{{ url_for('forgot_password') }}">
                          <dl class="labels">
                            {{ render_field(form.email) }}
                          </dl>
                          <input class="btn btn-light btn-medium js-scroll-trigger" type=submit value="Submit">
                        </form>
                    </div>
                </div>
            </div>
     </section>

{% include "footer.html" %}

{% endblock %}