{% extends 'header.html' %}

{% block content %}
    <section id="header">
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold" style="padding-top: 2rem; padding-bottom: 1.5rem;">Rendering Legible the History of American Capitalism</h1>
                        <hr class="divider my-4" style="padding-bottom: 1.5rem;" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-normal mb-5">In 2019, the New York Public Library digitized over 110,000 pages from the Brown Brothers & Company papers.
                            A rich source of information on the workings of New York City finance, the history of American capitalism, and the role of "Northern" banks in the transatlantic slave trade,
                            the Brown Brothers Collection has been vastly underutilized, in part because it's written in 19th century longhand.<br/><br/>
                        In collaboration with NYPL, the team at NewYorkScapes is looking to change that. As we work on exploring the uses of machine learning and custom OCR for unlocking the potential of this collection,
                            we're building a database of human-transcribed pages from the Brown Brothers ledgers to serve as reference and training data, as well as to inform historical research and pedagogy.<br/><br/><br/><br/></p>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section class="page-section bg-tertiary">
        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h5 class="mt-0" style="padding-bottom: 1rem;">A Note on Content</h5>
                        <p style="font-size: .9rem;">The materials available for transcription belong to a collection of 19th-century
                            ledgers from the New York Public Library’s Brown Brothers & Company Records.
                            Because Brown Brothers & Co. was involved in the linen and cotton trades, transatlantic shipping,
                            and the plantation economy, transcribers may encounter content related to the sale and trade of human
                            beings and violence against enslaved people and laborers. For more on why we’re transcribing these
                            materials, please see <a style="color: #1D1C1C; text-decoration: underline;" href="{{ url_for('narrative') }}">“Why Transcribe?”</a></p>
                        <p></p>
                    </div>
                </div>
            </div>

    </section>
    <section>
        <div class="container" style="padding:30px;">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center"><a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('transcribe_segment') }}">Start Transcribing</a></div>
                </div>
        </div>
    </section>

{% include "footer.html" %}
{% endblock content %}

