{% extends 'header.html' %}
{% block content %}
<h1>Brown Bros Transcriber</h1>
<br/><br/>
<form action="{{ url_for('addrec') }}" method="POST">
    <img id="segment" alt="" src="{{ image_url }}" onload="showMarkerArea(this);" /> <!--showMarkerArea(this);" /> -->
    <h2>Enter Transcription</h2>
     <input type="text" name="segment_transcription" />
     <input id="segmentcoords" type="hidden" name="segment_coords" value="" />
     <input type="submit" value="Submit" />
</form>

{% endblock content %}

