{% extends "header.html" %}

{% block content %}


     <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">

                        {% for mesg in get_flashed_messages() %}
                        <div class="alert-messages"><p>{{ mesg }}</p></div>
                        {% endfor %}

                        <h2 class="text-white mt-0" style="padding-top: 2rem; padding-bottom: 1rem;">Have an account?<br/>Log in here.</h2>
                        <hr class="divider my-4" style="padding-bottom: 1.5rem;" />
                        {% from "_formhelpers.html" import render_field %}
                        <form method="POST" action="{{ url_for('login', next='transcriber') }}">
                          <dl class="labels">
                            {{ render_field(form.email) }}
                            {{ render_field(form.password) }}
                          </dl>
                          <input class="btn btn-light btn-medium js-scroll-trigger" type=submit value="Log In">
                        </form>
                        <p></p>
                        <a class="text-white-50 mb-4" href="#">Forgot your password?</a>
                        <p></p>
                    </div>
                </div>
            </div>
     </section>

    <section class="page-section bg-tertiary">
        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h5 class="mt-0" style="padding-bottom: 1rem;">A Note on Content</h5>
                        <p style="font-size: .9rem;">The materials available for transcription belong to a collection of 19th-century
                            ledgers from the New York Public Library’s Brown Brothers & Company Records.
                            Because Brown Brothers & Co. was involved in the linen and cotton trades, transatlantic shipping,
                            and the plantation economy, transcribers may encounter content related to the sale and trade of human
                            beings and violence against enslaved people and laborers. For more on why we’re transcribing these
                            materials, please see <a style="color: #1D1C1C;" href="{{ url_for('narrative') }}">“Why Transcribe?”</a></p>
                        <p></p>
                    </div>
                </div>
            </div>

    </section>

{% endblock %}