{% extends 'header.html' %}

{% block content %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-left justify-content-left text-left">
                    <div class="col-lg-10 align-self-end">
                        <h4 class="text-white font-weight-bold" style="padding-top: 2rem; padding-bottom: 1.5rem;">Accessing and analyzing the content of historical materials helps us develop a more robust understanding of our current moment.</h4>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-normal mb-5">Brown Brothers & Company, whose Wall Street headquarters opened in the 1830s, quickly became one of the largest and most successful private banks in the United States. Today, Brown Brothers Harriman is still among the country's biggest financial institutions, managing trillions of dollars in assets across the globe.</p>
                    </div>
                </div>
            </div>
        </header>

    <section class="page-section bg-tertiary">
        <div class="container">
                <div class="row justify-content-left;">
                    <p style="font-size: 1rem; padding-left: 1rem; padding-right: 12%;">In recent years, the ties between Wall Street (and "Northern" banks more generally) and the institution of American slavery have become a growing subject of interest for scholars, educators, and the general public, cemented in popular discourse by efforts like the <a href="https://www.nytimes.com/interactive/2019/08/14/magazine/1619-america-slavery.html" style="color: #1D1C1C; text-decoration: underline;"><em>1619 Project</em></a> produced by the <em>New York Times</em>. These projects examine the role that slavery and colonialism have played in American nation-building, as well as in the material and cultural conditions that shape contemporary life in the United States.<br/><br/>
                            The Brown Brothers & Company records are, formally speaking, banal. Precursors to modern spreadsheets, they are filled mostly with ledgers tracking credits and debits, line items cascading into sums.<br/><br/>
                            Nestled among the neat columns and standardized nineteenth-century script, however, lie stories (and, sometimes, mysteries) of the fraught and often insidious history of American capitalism.<br/><br/>
                            The project of transcribing the Brown Brothers Collection is not necessarily a recuperative one — we may not be able to fully identify the individuals and locations <em>named</em> in the ledgers, let alone those erased, dehumanized, or otherwise omitted from the record. Instead, we are interested in the Brown Brothers Collection as a site for understanding the history of nineteenth-century finance and business in greater detail, as well as for exploring the historical contingencies that have shaped our contemporary moment.<br/><br/>
                            We acknowledge that transcribers contributing to this project may encounter content related to the sale and trade of human beings and violence against enslaved peoples and laborers. To some degree, transforming the digitized archival documents into machine- (and human-) readable data may participate in the reproduction of black death and commodification, to borrow language from historian and digital humanist Dr. Jessica Marie Johnson (see "Markup Bodies: Black [Life] Studies and Slavey [Death] Studies at the Digital CrossRoads," <a href="https://doi.org/10.1215/01642472-7145658" style="color: #1D1C1C; text-decoration: underline;"><em>Social Text</em> 36:4 (2018): 57-79)</a>.</p><br/><br/>

                            <p style="font-size: 1rem; padding-left: 1rem; padding-right: 12%;">We hope that rendering the ledgers <em>legible</em> — and therefore opening up their research and pedagogical potential — presents another opportunity for us to confront the entanglement of black death and commodification and the rise of finance capitalism. As historians and students of New York City, we hope, too, to get a glimpse into the operational texture of Wall Street and into the quotidian record-keeping practices that no doubt shape institutional records management today. Indeed, the ledgers may provide fruitful context for considering questions of information architecture, algorithmic bias, surveillance capitalism, and the data kept about and around human beings.<br/><br/>
                            Rather than make the everyday operations of historic Wall Street (and the injustices it enacted) feel mundane, we hope the ledgers illustrate just how much power tabulation and genres of bookkeeping can wield. We hope you'll join us in making this collection more accessible to students, teachers, researchers, and other community members.</p>
                    </div>
            </div>

    </section>

{% include "footer.html" %}
{% endblock content %}
