{% extends "header.html" %}

{% block content %}
	<div class = "container">
		<h2>Reset Password</h2>
		<br/>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/reset">
			<dl>
				{{render_field(form.email)}}
				{{render_field(form.password)}}
                {{render_field(form.new_password)}}
				{{render_field(form.confirm)}}
			</dl>
			<p><input type=submit value="Reset Password"></p>
		</form>
        <br/>
	</div>
    {% for mesg in get_flashed_messages() %}
    <div class="alert-errors"><p>{{ mesg }}</p></div>
  {% endfor %}
{% endblock %}