{% extends "header.html" %}

{% block content %}


     <section class="page-section bg-primary h-auto" id="about">
            <div class=container h-100" style="padding-bottom: 150px; overflow:auto;">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">

                        {% for mesg in get_flashed_messages() %}
                        <div class="alert-messages"><p>{{ mesg }}</p></div>
                        {% endfor %}

                        {% from "_formhelpers.html" import render_field %}
                        <form method="POST" action="{{ url_for('forgot_password_check', next=next, reset_email=reset_email) }}">
                          <dl class="labels">
                            {{ render_field(form.email) }}
                            {{ render_field(form.password) }}
                          </dl>
                          <input class="btn btn-light btn-medium js-scroll-trigger" type=submit value="Submit">
                        </form>
                    </div>
                </div>
            </div>
     </section>

{% include "footer.html" %}

{% endblock %}